<div class="share-modal-header">
	<div class="share-modal-big-icon">
		<i class="fa fa-cloud-upload"></i>
	</div>
	<div>
		<gf-form-switch
			class="gf-form"
			label="导出用于外部共享"
			label-class="width-16"
			checked="ctrl.shareExternally"
			tooltip="用于在grafana.com上公开共享仪表盘。将模板化数据源名称。那么只能与特定的仪表板导入API一起使用.">
		</gf-form-switch>

		<div class="gf-form-button-row">
			<button type="button" class="btn gf-form-btn width-10 btn-primary" ng-click="ctrl.saveDashboardAsFile()">
			保存到文件
			</button>
			<button type="button" class="btn gf-form-btn width-10 btn-secondary" ng-click="ctrl.viewJson()">
			  查看 JSON
			</button>
			<a class="btn btn-link" ng-click="ctrl.dismiss()">取消</a>
		</div>

	</div>
</div>
